<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<nav class="navBar">
  <h5 (click)="logOut()">Log Out</h5>
</nav>
<div class="thisDiv">
  <div class="container-fluid">
    <form #userForm="ngForm" class="addForm" novalidate>
      <div class="row">
        <div class="col">
          <label>Title</label>
          <input type="string" class="form-control" #title />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="message">Content</label>
          <textarea name="message" class="form-control" cols="30" rows="10" #message></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Image Url</label>
          <input type="string" class="form-control" #imgUrl />
        </div>
      </div>
      <br />
      <button
        class="btn btn-secondary"
        type="submit"
        (click)="postContent(title.value, message.value, imgUrl.value)"
      >
        Create
      </button>
      <button class="btn btn-secondary" type="submit" (click)="back()">
        Cancel
      </button>
    </form>
  </div>
</div>
