button {
  width: 100px;
  margin: 5px 5px 5px 5px;
}

.card p {
  cursor: pointer;
}

.card {
  border: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-fluid {
  width: 50%;
}
