<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<div class="container-fluid ">

  <div class="card" style="width: 45em;">
    <form #userForm="ngForm" class="addForm" novalidate>
      <div class="row">
        <div class="col">
          <label>Email Address</label>
          <input type="string" class="form-control" name="email" #passEmail />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Password</label>
          <input type="password" class="form-control" name="pass" #passPass />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Handle / Username</label>
          <input type="string" class="form-control" name="username" #passUser />
        </div>
      </div>
      <br />
      <div class="row">
        <button class="btn btn-secondary" type="submit"
          (click)="onSubmit(passEmail.value, passPass.value, passUser.value)">
          Register
        </button>
        <button class="btn btn-secondary" type="submit" (click)="login()">
          Back
        </button>
      </div>
    </form>
  </div>
</div>
