* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
}

body {
    display: block;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#header_content {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#navBar {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

#subHead {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    padding: 10px;
}

a {
    color: white;
}

#popularSearches {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    width: 75%;
}

#loginButton{
    background-color: #fb5831;
    font-weight: bold;
    border: none;
}

#header {
    background-color: #fb5831;
    height: 120px;
    width: 100%;
    color: white;
    font-size: 12.5px;
}

#login {
    background: #fb5831;
    border: none;
    font-weight: bold;
}

#advertisements {
    padding-top: 35px;
    height: 385px;
    background-color: #FFFFFF;
    width: 100%;
}

h4,
p {
    color: grey;
}

#footerlinks {
    background-color: #FCFCFC;
}

#iconContainer {
    height: 80px;
    width: auto;
}

#headerImg {
    width: auto;
    height: 50px;
}

#search {
    background-color: #ffffff;
    flex-basis: 845px;
    max-width: 845px;
    height: 46px;
    margin-bottom: 8px;
}

input[type=text] {
    float: left;
    margin-left: 10px;
    padding-top: 14px;
    border: none;
    font-size: 14px;
    width: 730px;
}

#searchButton {
    float: right;
    width: 60px;
    height: 35px;
    margin: 5px;
    padding: 10px;
    background: #f7472e;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#cart {
    padding: 10px;
    float: right;
    color: white;
    font-size: 24px;
    border: none;
}

#upper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 240px;
}

#carousel {
    width: auto;
    height: 210px;
}

#carousel img {
    width: auto;
    height: auto;
}

#banners {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 210px;
    max-width: auto;
}

#banners img {
    height: 100px;
}

#lower {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.labeledImage {
    display: flex;
    flex-flow: column;
    width: 100 px;
    height: 100%;
    margin: 10px;
}

.labeledImage div {
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.contentPanel {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 20px;
}

.contentPanel #label {
    background-color: #FFFFFF;
    width: 100%;
}

.contentPanel h4 {
    color: orangered;
    font-weight: bold;
}

#crudAdminPanel input {
    border: 1px solid grey;
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
}

#crudAdminPanel button {
    width: 100%;
    margin-left: 20%;
}

#crudAdminPanel select {
    width: 100%;
}

#crudContent .labeledImage {
    width: 130px;
    height: 200px;
    margin: 1px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#crudContent .labeledImage img {
    width: 100%;
    height: 90%;
}

#AdminPanel {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    min-width: 275px;
    margin: 10px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

#gridContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#gridContent .labeledImage {
    width: 110px;
    height: 160px;
    margin: 1px;
}

#gridContent img {
    height: 160px;
}


/* Full-width input fields */

.modal input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#buttonContainer button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
}

.modal button:hover {
    opacity: 0.8;
}

.modal {
    color: #f7472e;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal .container {
    display: flex;
    flex-flow: column;
    padding: 16px;
    width: 60wv;
}

.modal .container #buttonContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}


span.psw {
    float: right;
    padding-top: 16px;
}



.modal-content {
    color: #f7472e;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50 vw;
    /* Could be more or less, depending on screen size */
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#controlPanel{
    position: relative;
    margin-top: 80 vh;
    float: right;
    overflow-x: hidden;
    z-index: 2; 
    width: 200px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}