<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<div class="container-fluid">
  <div class="card" style="width: 25em;">
    <form #userForm="ngForm" class="addForm" novalidate>
      <div class="row">
        <div class="col">
          <img src="https://icon-library.net//images/journal-icon/journal-icon-27.jpg" /><br />
        </div>
      </div>
      <div class="row">
        <div class="text-center col">
          <h4>Journal</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Username</label>
          <input type="string" class="form-control" name="email" #passUser />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Password</label>
          <input type="password" class="form-control" name="pass" #passPass />
        </div>
      </div>
      <br />
      <button
        class="btn btn-secondary"
        type="submit"
        (click)="onSubmit(passUser.value, passPass.value)"
      >
        Login</button
      ><br /><br />
      <section id="error" class="text-center col"><br /></section>
      <p class="text-center col" (click)="register()">
        Don't have an account yet? <u>Sign up</u> now!
      </p>
    </form>
  </div>
</div>
