
button {
  width: 100%;
}

#error {
  color: red;
  font-weight: bold;
  font-size: .8em;
}

.card p {
  cursor: pointer;
}

.card {
  border: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.col img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

