.hideId {
  display: none;
}

.hidden {
  display: none;
}

.card-img-top {
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.head {
  padding-top: 1em;
  align-items: center;
  text-align: center;
  align-content: center;
}

.editDelete button {
  margin: 5px 5px 5px 5px;
  float: right;
  width: 100px;
}

.dateFont {
  font-size: 12px;
  font-family: "Nunito", "sans-serif";
}

.card-body {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.division {
  background: rgb(233, 231, 233);
}

.message {
  padding-top: 0.3em;
  font-size: 20px;
}

body {
  background: rgb(233, 231, 233);
}

.spacing {
  height: 2em;
}
