<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<nav class="navBar">
  <h5 (click)="logOut()">Log Out</h5>
</nav>
<body>
  <div class="head">
    <h1>Journals</h1>
    <button type="button" class="btn btn-secondary  btn-sm" (click)="add()">
      New Entry
    </button>
  </div>
  <br />
  <div class="wrapper">
    <div *ngFor="let iteration of journals">
      <div class="division">
        <div class="card" style="width: 40%;">
          <div class="card-body ">
            <h3 class="title">{{ iteration.title }}</h3>
            <div class="dateFont">
              <span>Created At: </span>
              <span #create>{{ iteration.createdAt }}</span>
              <span class="hidden">Updated At: </span>
              <span class="hidden" #update>{{ iteration.updatedAt }}</span>
              <div *ngIf="showDates(update.innerHTML, create.innerHTML) == true">
                <span
                  >Updated At: <span #update>{{ iteration.updatedAt }}</span></span
                >
              </div>
            </div>
            <p class="hideId" #hiddenId>{{ iteration._id }}</p>
            <img class="card-img-top" [src]="iteration.imageUrl" alt="Card image cap" />

            <p class="message">{{ iteration.message }}</p>
            <div class="editDelete">
              <button
                type="button"
                class="btn btn-secondary  btn-sm"
                (click)="delete(hiddenId.innerHTML)"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-secondary  btn-sm"
                (click)="edit(hiddenId.innerHTML)"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacing"></div>
    </div>
  </div>
</body>
