@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.navBar {
  background-color: #333;
  height: 5vh;
}
.navBar h5 {
  float: right;
  padding-right: 2em;
  color: white;
  justify-content: center;
  padding-top: 0.1em;
  cursor: pointer;
}
